{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block body %}
  <h1>{{ article.title }}</h1>
  <p>{{ article.pk }}번 게시글</p>
  <h3>
    <a href="{% url 'accounts:detail' article.user.pk %}">{{ article.user.username }}</a>
  </h3>
  <p>{{ article.created_at|date:"SHORT_DATETIME_FORMAT" }}
    |
    {{ article.updated_at|date:"y-m-d D" }}</p>
  <p>{{ article.content }}
  </p>
  {% if article.image %}
    <img src="{{ article.image.url }}" alt="{{ article.image }}" width="400" height="300">
  {% endif %}

  <p class="my-3">👍
    {{ article.like_users.count }}</p>
  {% if request.user.is_authenticated %}
    {% if request.user in article.like_users.all %}
      <button class="btn btn-outline-secondary" id="like-btn" data-article-id="{{ article.pk }}">좋아요 취소</button>
    {% else %}
      <button class='btn btn-outline-danger' id="like-btn" data-article-id="{{ article.pk }}">좋아요</button>
    {% endif %}
  {% else %}
    <a href="{% url 'accounts:login' %}" class='btn like-hover'>로그인이 필요합니다.</a>
  {% endif %}

  {% if request.user == article.user %}
    <p class='my-3'>
      <a href="{% url 'articles:update' article.pk %}">수정하기</a>
    </p>
  {% endif %}
  <h4 class="my-3">댓글</h4>
  {% if request.user.is_authenticated %}
    <form id="comment-form" data-article-id="{{ article.pk }}">
      {% csrf_token %}
      {% bootstrap_form comment_form layout='inline'%}
      <input type="submit" value="OK" class="btn btn-primary btn-md my-3">
    </form>
  {% endif %}
  <hr>
  <div id="comments">
    {% for comment in comments %}
      <p>
        {{ comment.user.username }}
        |
        {{ comment.content }}</p>
      <hr>
      {% empty %}
      <p>댓글이 없어요 ㅠ_ㅠ</p>
    {% endfor %}
  </div>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    // (1) 좋아요 버튼
    const likeBtn = document.querySelector('#like-btn')
    const csrftoken = document
    // (2) 좋아요 버튼을 클릭하면, 함수 실행
    likeBtn.addEventListener('click', function (event) {
      // 서버로 비동기 요청을 하고 싶음
      console.log(event.target.dataset)
      axios({method: 'get', url: `/articles/${event.target.dataset.articleId}/like/`}).then(response => {
        console.log(response)
        console.log(response.data)
        // event.target.classList.toggle('bi-heart')
        // event.target.classList.toggle('bi-heart-fill')
        if (response.data.isLiked === true) {
          event
            .target
            .classList
            .add('btn-outline-secondary')
          event
            .target
            .classList
            .remove('btn-outline-secondary')
        } else {
          event
            .target
            .classList
            .add('btn-outline-secondary')
          event
            .target
            .classList
            .remove('btn-outline-secondary')
        }
        const likeCount = document.querySelector('#like-count')
        likeCount.innerText = response.data.likeCount
      })
    })
  </script>
  <script>
    // (1) 댓글 폼
    const commentForm = document.querySelector('#comment-form')
    // (2) 제출하면, 함수 실행시킬래
    // csrf
    const csrftoken = document
      .querySelector('[name=csrfmiddlewaretoken]')
      .value
      commentForm
      .addEventListener('submit', function (event) {
        event.preventDefault();
        axios({
          method: 'post',
          url: `/articles/${event.target.dataset.articleId}/comments/`,
          headers: {
            'X-CSRFToken': csrftoken
          },
          data: new FormData(commentForm) // 폼에 있는 정보를 data로 넘겨줄 수 있도록 변환
        }).then(response => {
          console.log(response.data)
          // 댓글을 추가하는 로직
          const comments = document.querySelector('#comments')
          const p = document.createElement('p')
          p.innerText = `${response.data.userName} | ${response.data.content}`
          const hr = document.createElement('hr')
          comments.append(p, hr)
          commentForm.reset()
        })
      })
  </script>
{% endblock %}
